<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <link href="css/slick.css" type="text/css" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet"> 
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet" />

    <link href="css/basicMontage.css" type="text/css" rel="stylesheet" />
    <link href="css/style.css" type="text/css" rel="stylesheet" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sua Clínica.com</title>
  </head>
  <body>
    <main class="height100">
      <div class="background-image height100">
        <div class="container height100">
          <header class="flex between">
            <div>
              <a href="">
                <div class="logo"></div><!--Logo-->
              </a>
            </div>
            <div class="flex">
              <nav class="web">
                <ul>
                  <li><a href="">Quem Sou?</a></li>
                  <li><a href="">Tratamentos</a></li>
                  <li><a href="">Depoimentos</a></li>
                  <li><a href="">Contato</a></li>
                </ul>
              </nav>
              <nav class="mobile off">
                  <i class="fa fa-bars" id="menu_btn"></i>
                  <div class="menu off" id="menu">
                    <ul>
                      <li><a href="">Quem Sou?</a></li>
                      <li><a href="">Tratamentos</a></li>
                      <li><a href="">Depoimentos</a></li>
                      <li><a href="">Contato</a></li>
                    </ul>
                  </div>
              </nav>
            </div>
          </header>
          <div class="main-text width100 height100">
            <div>
              <h1 class="light">Sua Clínica <span>Online</span></h1>
              <h3 class="italic light">Uma Frase de Efeito</h3>
            </div>
          </div>
        </div><!--Container-->
      </div><!--BG-->
    </main>
    <section class="who-am-i">
      <div class="container flex centered">
        <div class="professional-photo w50">
          <img src="images/profissional-image.jpg" />
        </div><!--Professional Photo-->
        <div class="professional-info w50">
          <h3>Quem sou?</h3>
          <p>Este projeto foi feito por Wesley0010012, sendo inteiramente pertencente ao mesmo, quaisquer cópias para uso sem autorização podem resultar em graves problemas para os responsáveis no ato. Caso haja interesse no mesmo, você pode enviar um E-mail para <b>wglaurindo302@gmail.com</b> ou para o talvez por WhatsApp atravéz de <b>+55(11)97172-1403</b>.</p>
          <p>Texto de Preenchimento, Texto de Preenchimento,Texto de Preenchimento,Texto de Preenchimento,Texto de Preenchimento,Texto de Preenchimento,Texto de Preenchimento,Texto de Preenchimento,Texto de Preenchimento,Texto de Preenchimento,Texto de Preenchimento,Texto de Preenchimento,Texto de Preenchimento,Texto de Preenchimento,Texto de Preenchimento,Texto de Preenchimento,Texto de Preenchimento,Texto de Preenchimento,Texto de Preenchimento,Texto de Preenchimento,Texto de Preenchimento,Texto de Preenchimento,Texto de Preenchimento,Texto de Preenchimento,Texto de Preenchimento,Texto de Preenchimento.</p>
        </div><!--Professional Info-->
      </div><!--Container-->
    </section><!--Who Am I-->
    <section class="threatments">
      <div class="container">
        <h3 class="centered c111111">Veja nossos Tratamentos</h3>
        <div class="flex wrap">
          <div class="threatment_single w33">
            <h4>Seus Tratamentos</h4>
            <p class="c111111">Aqui Apareceram seus Tratamentos, eles serão 100% estáticos atualmente, sendo dinâmificados somente a pedido do cliente.</p>
          </div><!--Threatments Single-->
          <div class="threatment_single w33">
            <h4>Seus Tratamentos</h4>
            <p class="c111111">Aqui Apareceram seus Tratamentos, eles serão 100% estáticos atualmente, sendo dinâmificados somente a pedido do cliente.</p>
          </div><!--Threatments Single-->
          <div class="threatment_single w33">
            <h4>Seus Tratamentos</h4>
            <p class="c111111">Aqui Apareceram seus Tratamentos, eles serão 100% estáticos atualmente, sendo dinâmificados somente a pedido do cliente.</p>
          </div><!--Threatments Single-->
          <div class="threatment_single w33">
            <h4>Seus Tratamentos</h4>
            <p class="c111111">Aqui Apareceram seus Tratamentos, eles serão 100% estáticos atualmente, sendo dinâmificados somente a pedido do cliente.</p>
          </div><!--Threatments Single-->
          <div class="threatment_single w33">
            <h4>Seus Tratamentos</h4>
            <p class="c111111">Aqui Apareceram seus Tratamentos, eles serão 100% estáticos atualmente, sendo dinâmificados somente a pedido do cliente.</p>
          </div><!--Threatments Single-->
          <div class="threatment_single w33">
            <h4>Seus Tratamentos</h4>
            <p class="c111111">Aqui Apareceram seus Tratamentos, eles serão 100% estáticos atualmente, sendo dinâmificados somente a pedido do cliente.</p>
          </div><!--Threatments Single-->
          <div class="threatment_single w33">
            <h4>Seus Tratamentos</h4>
            <p class="c111111">Aqui Apareceram seus Tratamentos, eles serão 100% estáticos atualmente, sendo dinâmificados somente a pedido do cliente.</p>
          </div><!--Threatments Single-->
          <div class="threatment_single w33">
            <h4>Seus Tratamentos</h4>
            <p class="c111111">Aqui Apareceram seus Tratamentos, eles serão 100% estáticos atualmente, sendo dinâmificados somente a pedido do cliente.</p>
          </div><!--Threatments Single-->
          <div class="threatment_single w33">
            <h4>Seus Tratamentos</h4>
            <p class="c111111">Aqui Apareceram seus Tratamentos, eles serão 100% estáticos atualmente, sendo dinâmificados somente a pedido do cliente.</p>
          </div><!--Threatments Single-->
        </div>
      </div><!--Container-->
    </section><!--Threatments-->
    <section class="depoiments">
      <div class="container">
        <h3 class="centered">Depoimentos</h3>
        <div class="carousel">
          <div class="depoiment-single centered left">
            <p>"Sit ipsum laboris non elit adipisicing non laboris nisi consequat voluptate consequat. Duis officia dolore mollit id est ipsum consequat voluptate duis tempor sint voluptate dolor."</p>
            <div class="person flex">
              <div class="photo circle">
                <!--<img />-->
              </div>
              <div>
                <p>Henry Townshend</p>
              </div>
            </div><!--Person-->
          </div><!--Depoiment_Single-->
          <div class="depoiment-single centered left">
            <p>"Sit ipsum laboris non elit adipisicing non laboris nisi consequat voluptate consequat. Duis officia dolore mollit id est ipsum consequat voluptate duis tempor sint voluptate dolor."</p>
            <div class="person flex">
              <div class="photo circle">
                <!--<img />-->
              </div>
              <div>
                <p>Henry Townshend</p>
              </div>
            </div><!--Person-->
          </div><!--Depoiment_Single-->
          <div class="depoiment-single centered left">
            <p>"Sit ipsum laboris non elit adipisicing non laboris nisi consequat voluptate consequat. Duis officia dolore mollit id est ipsum consequat voluptate duis tempor sint voluptate dolor."</p>
            <div class="person flex">
              <div class="photo circle">
                <!--<img />-->
              </div>
              <div>
                <p>Henry Townshend</p>
              </div>
            </div><!--Person-->
          </div><!--Depoiment_Single-->
        </div><!--Carrousel-->
        <div class="clear"></div><!--Clear Class-->
      </div><!--Container-->
    </section><!--Depoiments-->
    <section class="videos">
      <div class="container">
        <h3 class="centered"> Veja nossos Vídeos!</h3>
        <div class="flex videos-container">
          <div><div class="video-box"></div><!--Video Box--></div>
          <div><div class="video-box"></div><!--Video Box--></div>
          <div><div class="video-box"></div><!--Video Box--></div>
        </div>
      </div><!--Container-->
    </section><!--Videos-->
    <section class="social">
      <div class="container">
        <h3 class="centered">E nos siga nas redes sociais!</h3>
        <div class="flex icons">
          <a href="" class="centered">
              <i class="fa fa-facebook"></i>
              <p>Seu Facebook</p>
          </a>
          <a href="" class="centered">
              <i class="fa fa-twitter"></i>
              <p>Seu Twitter</p>
          </a>
          <a href="" class="centered">
              <i class="fa fa-instagram"></i>
              <p>Seu Instagram</p>
          </div>
        </a>
      </div><!--Container-->
    </section><!--Social-->
    <footer class="flex">
      <div class="w25 centered">
        <h3>Telefones:</h3>
        <p class="top">(11)9999-9999</p>
        <p>(11)8888-8888</p>
      </div>
      <div class="w25 centered">
        <h3>Horário:</h3>
        <p class="top">Segunda a Sexta:</p>
        <p>08:00 às 15:30</p>
      </div>
      <div class="w50 centered">
        <h3>Endereço:</h3>
        <p class="top">Seu endereço aqui. Valor definido em produção</p>
      </div>
    </footer>

    <!--Scripts-->

    <script type="text/javascript" src="js/jquery.js"></script><!--Jquery-->
    <script type="text/javascript" src="js/slick.js"></script><!--Slick-->
    <script type="text/javascript" src="js/slider.js"></script><!--Slider-->
    <script type="text/javascript" src="js/nav.js"></script><!--Nav-->
  </body>
</html>